@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

.rt-SelectTrigger:where(.rt-variant-surface):where(:disabled) {
  background-color: #fff !important;
}

.TooltipArrow {
  fill: black;
}
.TooltipContent {
  border-radius: 6px;
  padding: 9px 12px;
  font-size: 14px;
  color: #ffff;
  background-color: black;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
}

.rt-BaseDialogContent {
  padding: 0;
}

.ant-table-wrapper .ant-table-thead > tr > th,
:where(.css-dev-only-do-not-override-42nv3w).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background: #fdfcfa !important;
}

.ant-table-wrapper .ant-table-footer {
  background: #fdfcfa !important;
}

.ant-table-wrapper .ant-table-row-expand-icon {
  width: 18px;
  height: 18px;
  border-radius: 2px !important;
}
