@tailwind base;
@tailwind components;
@tailwind utilities;

.rt-SelectTrigger:where(.rt-variant-surface):where(:disabled) {
  background-color: #fff !important;
}

.rt-BaseDialogContent {
  padding: 0 !important;
  font-family: "Poppins", sans-serif !important;
}
.rt-BaseDialogScrollPadding {
  padding: 0 !important;
}

.rt-TableRoot:where(.rt-variant-surface)
  :where(.rt-TableRootTable)
  :where(.rt-TableHeader) {
  --table-row-background-color: #fdfcfa !important;
}

.TooltipArrow {
  fill: black;
}

.rt-TableRootTable {
  font-family: "Poppins";
}

.rt-Heading {
  font-family: "Poppins", sans-serif !important;
}
.TooltipContent {
  border-radius: 6px;
  padding: 9px 12px;
  font-size: 14px;
  color: #ffff;
  background-color: black;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.rt-SelectItem {
  font-family: "Poppins", sans-serif !important;
}
.cl-userButton-root {
  font-family: "Poppins", sans-serif !important;
}
.cl-organizationSwitcher-popover {
  font-family: "Poppins", sans-serif !important;
}
.cl-organizationSwitcher-root {
  font-family: "Poppins", sans-serif !important;
}
.cl-userButtonPopoverMain {
  font-family: "Poppins", sans-serif !important;
}
.cl-userPreviewMainIdentifier__userButton {
  font-family: "Poppins", sans-serif !important;
}

.rt-BaseButton {
  font-family: "Poppins", sans-serif !important;
}

.bot_textarea::-webkit-scrollbar {
  width: 7px !important; /* adjust as needed */
}

.bot_textarea::-webkit-scrollbar-thumb {
  background-color: #8e8e8d !important; /* scrollbar thumb color */
  border-radius: 4px !important; /* scrollbar thumb border radius */
}
