@tailwind base;
@tailwind components;
@tailwind utilities;

.rt-SelectTrigger:where(.rt-variant-surface):where(:disabled) {
  background-color: #fff !important;
}

.rt-BaseDialogContent {
  padding: 0 !important;
}
.rt-TableColumnHeaderCell {
  font-family: "Poppins";
}
.rt-TableRoot:where(.rt-variant-surface)
  :where(.rt-TableRootTable)
  :where(.rt-TableHeader) {
  --table-row-background-color: #fdfcfa !important;
}

.TooltipArrow {
  fill: black;
}

.TooltipContent {
  border-radius: 6px;
  padding: 9px 12px;
  font-size: 14px;
  color: #ffff;
  background-color: black;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px,
    hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  font-family: "Poppins", sans-serif;
}

.rt-SelectItem {
  font-family: "Poppins", sans-serif !important;
}
.cl-userButton-root {
  font-family: "Poppins", sans-serif !important;
}
.cl-organizationSwitcher-popover {
  font-family: "Poppins", sans-serif !important;
}
.cl-organizationSwitcher-root {
  font-family: "Poppins", sans-serif !important;
}
.cl-userButtonPopoverMain {
  font-family: "Poppins", sans-serif !important;
}
.cl-userPreviewMainIdentifier__userButton {
  font-family: "Poppins", sans-serif !important;
}

.rt-BaseDialogContent {
  padding: 0;
}

.rt-BaseButton {
  font-family: "Poppins" !important;
}

.ant-table-wrapper .ant-table-thead > tr > th,
:where(.css-dev-only-do-not-override-42nv3w).ant-table-wrapper
  .ant-table-thead
  > tr
  > td {
  background: #fdfcfa !important;
}

.ant-table-wrapper .ant-table-footer {
  background: #fdfcfa !important;
}

.ant-table-wrapper .ant-table-row-expand-icon {
  width: 18px;
  height: 18px;
  border-radius: 2px !important;
}
